maincss.css



/*Style the 3 div tags in all 3 htmls*/
div.links {  
color: #00ff80; }



/*style the span tags in the 3 htmls (2nd and 3rd use same) */

a {
    color: #0000FF; 
} 

span {
    color: #751165
}
    
  
/* set the color of the <a> tag */

.assignment1 {
    color:pink
}
.assignment2 {
    color:grey
}

.battleleague {
    color:yellow
}
a:hover {
    background-color:black
}
p:hover {
    background-color:blue
}

@media only screen and (max-width: 500px) {
    p {
      background-color: rgb(38, 142, 177);
    }
/*use :hover selector on at least one :targetDefine at least 2 class selectors*/

/*resize the heatran image
use the @media rule to modify some attribute for small screens*/